* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

div#container {
    width: 100%;
    height: calc(100vh - 70px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.container-admin .left-bar {
    width: 250px;
    background-color: #59AFFF;
}

.container-admin .content {
    width: 100%;
    background-color: ghostwhite;
    padding: 15px;
}

.content p {
    color: #424242;
    font-size: 14px;
}

div .box {
    margin-top: 15px;
}

div .box .box-top {
    color: ghostwhite;
    text-shadow: 0 1px 1px #000;
    background-color: #72B0EA;
    padding: 5px 10px 5px 5px;
    font-weight: 300;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 2px 2px #424242;
}

div .box .box-info {
    padding: 15px;
    background-color: #d7eaff;
    border-radius: 0 0 3px 3px;
    box-shadow: 1px 2px 2px #424242;
}


ul#nav li {
    list-style: none;
}

ul#nav li a {
    color: #171717;
    display: block;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #000;

    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

ul#nav li a:hover {
    color: #0F9D58;
    background-color: #6abdff;
    bottom: -2px;
    padding-left: 20px;
    border-bottom: 3px solid #0F9D58;
}

ul#nav li .selected {
    color: #0F9D58;
    font-weight: bold;
    background-color: #6abdff;
    border-bottom: 3px solid #0F9D58;
}

.close-bar {
    display: none;
    padding-top: 3px;
    cursor: pointer;
    background-color: #59AFFF;
}

.close-bar:active {
    background-color: #6abdff;
}

.close-bar .home {
    padding: 5px 5px;
    font-size: 16px;
}

@media screen and (max-width: 650px) {
    div#container {
        display: unset;
        height: calc(100vh - 70px);
    }

    #container .left-bar {
        display: none;
        width: 100%;
    }

    #container .content {
        height: calc(100vh - 102px);
    }

    .close-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 650px) {

}
