* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


div .header-right {
    float: right;
}

.button {
    color: #222;
    padding: 24px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    color: #ff9d06;
}

a.active {
    background-color: dodgerblue;
    color: white;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }


    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.container {
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 10px auto;
    border: 3px solid #888;
    width: 50%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: table;
}
