body{
  margin: 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 200px 20px #88F8F6;
    line-height: 1.4;
}

.header-right {
  float: right;
}
.header.left{
  float:left;
}


.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.button {
  border-radius: 14px;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  color: white;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  background-image: linear-gradient(30deg, #3d3393 -40%, #2b76b9 37%, #2cacd1 76%, #35eb93 160%);
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  

  .cancelbtn, .signupbtn {
    width: 100%;
 }
}


* {box-sizing: border-box;}

input[type=text], input[type=password] {
  width: 30%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #e0dddd;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(211, 200, 200);
  outline: none;
}


.signupbtn :hover {
  color:white;
  opacity:0.8;
}

.cancelbtn {
  padding: 10px 10px;
  background-color: #eb291c;
  float: right;
  margin: 0;
  width: 40%;
  min-width: 50px;
}

.signupbtn {
  padding: 10px 10px;
  background-color: green;
  float: left;
  margin: 0;
  width: 40%;
  min-width: 50px;
}


.container {
  padding: 10px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 10px;
  overflow: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10px auto; 
  border: 3px solid #888;
  width: 50%; 
}

hr {
  border: 2px solid rgb(210, 210, 210);
  margin-bottom: 20px;
}
 
.close {
  position: absolute;
  right: 25px;
  top: 0px;
  font-size: 35px;
  font-weight: bold;
  color:white;
}

.close:hover,
.close:focus {
  color:black;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

